{% include 'admin/header.html' %}
<script type="text/javascript">
  var temp;
  function addEmailGroup(email_id,group_id){
    var dt=[];
    dt[0]=parseInt(email_id);
    dt[1]=parseInt(group_id);
    $.ajax({
         type: "POST",
         async: false,
         url: "/admin/checkemail/"+email_id+"/"+group_id+"/add",
         data: {json_str:JSON.stringify(dt)},
         success: function(msg){
          console.log('add success:'+msg);
         },
         error:function(msg){
          console.log(msg+"");
         }
         // dataType: "json"
      });
  }
  function removeEmailGroup(email_id,group_id){
    var dt=[];
    dt[0]=parseInt(email_id);
    dt[1]=parseInt(group_id);
    $.ajax({
         type: "POST",
         async: false,
         url: "/admin/checkemail/"+email_id+"/"+group_id+"/remove",
         data: {json_str:JSON.stringify(dt)},
         success: function(msg){
          console.log('remove success:'+msg);
         },
         error:function(msg){
          console.log(msg+"");
         }
         // dataType: "json"
      });
  }
</script>
   <!-- MAIN PANEL -->
    <div id="main" role="main">
      <!-- RIBBON -->
      <div id="ribbon">

        <span class="ribbon-button-alignment"> 
          <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
          </span> 
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li>Home</li><li>Email</li>
        </ol>

      </div>
      <!-- END RIBBON -->

      <!-- MAIN CONTENT -->
      <div id="content">

        <div class="inbox-nav-bar no-content-padding">
        
          <h1 class="page-title txt-color-blueDark hidden-tablet"><i class="fa fa-fw fa-inbox"></i> Email &nbsp;
            <span class="btn-group">

              <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/admin/email">Compose</a>
                </li>
                 <li>
                  <a href="/admin/config">Configure email</a>
                </li>
                <li>
                  <a href="/admin/email/group">Group</a>
                </li>
                <li>
                  <a href="/admin/mail">Contact</a>
                </li>
                <li>
                  <a href="/admin/import">Import contact</a>
                </li>
                <li>
                  <a href="/admin/email/sending">
                    {%if email_to_send==0 %}
                       No email sending 
                    {%elif email_to_send==1%}
                      {{email_to_send}} sending email ... 
                    {%else%}
                      {{email_to_send}} sending emails ... 
                    {%endif%}
                  </a>
                </li>
              </ul>
            </span>
          </h1>
              <!--start group action-->
              &nbsp;&nbsp;
              <a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Select All" class="btn btn-default" style="padding:3px;width:40px;">
                 <input name="select_all" type="checkbox" style="width:15px;height:15px;" />
              </a>
             
              <button class="btn btn-default"  title="Add To Group" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-folder-open fa-lg"></i>
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel"><i class="fa fa-share-alt"></i> Add Selected emails to group:</h4>
                    </div>
                    <div class="modal-body">
                              
                              <form>
                                  {%for group in groups%}
                                   <div class="input-group">
                                    <input type="checkbox" class="" value="{{group.id}}" name="all_groups">  &nbsp;{{group.name}}
                                  </div>
                                  {%endfor%}
                                    <br />
                                    <button type="button" value="sub" name="sub" class="btn btn-primary btn-save-groups">
                                      <i class="fa fa-share"></i>
                                      Save
                                    </button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal -->


              <a href="javascript:void(0);" rel="tooltip" title="" data-placement="bottom" data-original-title="Delete" class="deletebutton btn btn-default" onclick="deleteEmail();" >
                <strong>
                  <i class="fa fa-trash-o fa-lg">
                    
                  </i>
                </strong>
              </a>
              <!--End group action-->
              <form class="frm form-horizontal pull-right" action="/admin/mail/" method="get">
                <input type="text" name="q" placeholder="Search Email..." class="" style="display:inline;height:33px;padding:5px 10px;" value="{{search}}" required>
                <input type="submit" name="" value="Search" class="btn btn-primary" >
              </form>
        </div>
        
        <div id="inbox-content" class="inbox-body no-content-padding">
        
          <div class="inbox-side-bar">
        
            <a href="/admin/email"  class="btn btn-primary btn-block"> <strong>Compose</strong> </a>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/config/"> Configure email </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/email/group/"> Group </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/mail/"> Contact </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/import/"> Import contact </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/email/sending">
                {%if email_to_send==0 %}
                   No email sending 
                {%elif email_to_send==1%}
                  {{email_to_send}} sending email ... 
                {%else%}
                  {{email_to_send}} sending emails ... 
                {%endif%}
                </a>
              </li>
            </ul>
            
        
            <div class="air air-bottom inbox-space">
        
             <!--  <strong>{{email_to_send}} email </strong> sending ...

              <div class="progress progress-micro">
                <div class="progress-bar progress-primary" style="width: 34%;"></div>
              </div> -->
            </div>
        
          </div>
          <!-- <div class="table-wrap custom-scroll animated fast fadeInRight"> -->
            <!-- ajax will fill this area -->
            <!-- LOADING... -->

            <div style="min-height: 503px; opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight col-sm-7">
             <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 flash" style="display:none;">

             </article>
             <!--Jqgrid-->
             <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                         {% for message in messages %}
                          <tr id="msg29">
                            <div class="col-md-12 col-xs-12 alert">
                              {{ message }}
                            </div>
                           </tr>
                       {% endfor %}
                      {% endif %}
                     {% endwith %}
                    <table id="jqgrid" class="col-xs-12"></table>
                    <center>
                      <ul class="pagination pagination-sm">
                      {% if pagin > 1 %}
                        {% if pagin < 8 %}
                          {% for page in range(1,pagin+1) %}
                            {% if page == current_pagin %}
                              <li class="active">
                                <a href="/admin/mail/{{page}}">
                                  {{page}}
                                </a>
                              </li>
                            {%else%}
                              <li>
                                <a href="/admin/mail/{{page}}">
                                  {{page}}
                                </a>
                              </li>
                            {%endif%}
                        {%endfor%}
                      </ul>
                    {%else %}
                      <li class="{%if current_pagin==1 %}active{%endif%}">
                        <a href="/admin/mail/1">1</a>
                      </li>
                      <li class="{%if current_pagin==2 %}active{%endif%}">
                        <a href="/admin/mail/2">2</a>
                      </li>
                      <li class="{%if current_pagin==3 %}active{%endif%}">
                        <a href="/admin/mail/3">3</a>
                      </li>
                      <li class="{%if current_pagin==4 %}active{%endif%}">
                        <a href="/admin/mail/4">4</a>
                      </li>
                      <li>
                        <a href="#">...</a>
                      </li>
                      {% for page in range(pagin-4,pagin+1) %}
                        {% if current_pagin == page%}
                        <li class="active">
                          <a href="/admin/mail/{{page}}">
                            {{page}}
                          </a>
                          </li>
                       {%else%}
                        <li>
                          <a href="/admin/mail/{{page}}">
                            {{page}}
                          </a>
                          </li>
                       {%endif%}
                      {%endfor%}
                    {%endif%}
                  {%endif%}
                  </ul>
                  </center>
                    <div id="pjqgrid"></div>

                    <br>
                    <a href="javascript:void(0)" id="m1"></a>
                    <br>
                    <a href="javascript:void(0)" id="m1s"></a>

              </article>
            </div>
            <div class="" style="padding-right:5px 10px;">
                <form class="frm form-horizontal" action="/admin/mail/" method="post">
                  <fieldset>
                    <legend><center><b id="label">

                    Add Contact

                    </b></center></legend>
                    <div class="form-group">
                      <div class="col-lg-11 col-xs-12">
                        <input type="text" class="form-control" name="firstname" placeholder="First Name ..." type="text" required value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-11 col-xs-12"><br/>
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name ..." type="text" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-11 col-xs-12"><br/>
                        <input type="text" class="form-control"name="email" placeholder="Email ..." type="text" required value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-lg-12 col-xs-12"><br/>
                        <center>
                          <input type="submit" class="btn btn-primary"name="btn "value="Save">
                        </center>
                      </div>
                    </div>
                </form>
              </fieldset>
            </div>
        </div>


      </div>
      <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->
 <!-- END MAIN PANEL -->
    <script src="/statiac/admin/js/plugin/summernote/summernote.min.js"></script>
    <script src="/statiac/adminjs/plugin/delete-table-row/delete-table-row.min.js"></script>
   <script type="text/javascript">
     if("{{name}}"!=''){
        $('input[name="name"]').attr('value',"{{name|safe}}")
        $('#frm').attr('action','/admin/email/group/{{name}}/edit/');
      }
   </script>
<script type="text/javascript">
      var jqgrid_data =[];
      var temp;
    </script>
     {% for email in emails %}
     <script type="text/javascript">
      temp=moment().from("{{email.published_at}}");
      jqgrid_data.push({'mycheckbox':'<input type="checkbox" name="email" value="{{email.id}}" class="cbox"/>',"firstname":'<a href="#" title="Set Group" data-toggle="modal" data-target="#myModal_{{email.id}}">{{email.firstname}}</a>',"lastname":"{{email.lastname}}","email":"{{email.email}}",'published_at':temp,"action":"<a href='/admin/mail/{{email.id}}/delete' onclick='return confirm(\"Are you sure ?\")' class='btn btn-xs btn-default'><i class='fa fa-trash-o' style='color:red;'></i></a>  <a href='/admin/mail/{{email.id}}/edit' class='btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>"});
     </script>

      <!-- pop up modal group email-->
      <div class="modal" id="myModal_{{email.id}}" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"></button>
              <label><b>{{email.firstname}} </b> &nbsp; - {{email.email}}</label><br>
              
            </div>
            <div class="modal-body">
                <form>

                  {%for group in groups%}
                    <div class="checkbox groups group_{{group.id}}">
                    <h5>
                    <label><input type="checkbox" name="groups" id="group_{{group.id}}" value="{{group.id}}" class="group_{{email.id}}">
                      {{group.name}}
                    </label>
                    </h5>
                  </div>
                <script type="text/javascript">
                  //Tick check box
                  $.ajax({
                   type: "GET",
                   async: false,
                   url: "/admin/checkemail/{{email.id}}/{{group.id}}/check",
                   success: function(msg){
                    if(msg.status==true){
                      $('.group_{{email.id}}[value="{{group.id}}"]').attr("checked", true);
                    }
                    },
                   error:function(msg){
                    console.log(msg);
                   }
               });
                </script>
                    {%endfor%}

                    <button class="btn btn-info pull-right btn_{{email.id}}" style="margin-top:-20px;" type="button">Save</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    <!--end pop up modal group email-->
      <script type="text/javascript">
        var group_id;
        $(".btn_{{email.id}}").click(function(){
          $(".group_{{email.id}}").each(function(){
            group_id=$(this).val();
            if($(this).is(':checked'))
              {
                //check if not save then save new in emailgroup
                $.ajax({
                     type: "GET",
                     async: false,
                     url: "/admin/checkemail/{{email.id}}/"+group_id+"/check",
                     success: function(msg){
                      console.log('>>>>'+msg.status);
                      if(msg.status==false){
                        //not exists then save new
                        addEmailGroup("{{email.id}}",group_id);

                      }
                      },
                     error:function(msg){
                      console.log(msg);
                     }
                 });
            }
            else{
              //check if already save then remove it
              $.ajax({
                   type: "GET",
                   async: false,
                   url: "/admin/checkemail/{{email.id}}/"+group_id+"/check",
                   success: function(msg){
                    console.log(msg.status);
                    if(msg.status==true){
                      //not exists then save new
                      removeEmailGroup("{{email.id}}",group_id);

                    }
                    },
                   error:function(msg){
                    console.log(msg);
                   }
                   // dataType: "json"
                });
            }
          });
          $(".close").click();
        });
      </script>

     {%endfor%}

    <script type="text/javascript">
      $(document).ready(function() {
        pageSetUp();

        jQuery("#jqgrid").jqGrid({
          data : jqgrid_data,
          datatype : "local",
          colNames : [' ','First Name','Last Name','Email',"Published", 'Actions'],
          colModel : [{
             name : 'mycheckbox',
            index : 'mycheckbox',
            editable : false,
            width : 20,
            sortable:false,
            editable:true
          },{
            name : 'firstname',
            index : 'lastname',
            editable : false,
            width : 100
          },{
            name : 'lastname',
            index : 'lastname',
            editable : false,
            width: 80
          }, {
            name : 'email',
            index : 'email',
            editable : false
          }, {
            name : 'published_at',
            index : 'published_at',
            editable : false,
            width:80
          }, {
            name : 'action',
            index : 'action',
            width: 60
          }],
          rowList: [],        // disable page size dropdown
            pgbuttons: false,     // disable page control like next, back button
            pgtext: null,         // disable pager text like 'Page 0 of 10'
            // viewrecords: false    // disable current view record text like 'View 1-10 of 100'
          viewrecords : true,
          rowNum:10000,
          sortorder : "asc",
          gridComplete : function() {
            var ids = jQuery("#jqgrid").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
              var cl = ids[i];
              be = "<a href='/admin/page/delete/' class='btn btn-xs btn-default'><i class='fa fa-trash-o' style='color:red;'></i></a>";
              se = "";
              ca = "<a href='' class='btn btn-xs btn-default'><i class='fa fa-pencil'></i></a>";
              jQuery("#jqgrid").jqGrid('setRowData', ids[i], {
                act : be + se + ca
              });
            }
           },
          editurl : "/",
          caption : "Email Info",
          multiselect : false,
          autowidth : true,
          height: 3000,

        });
        jQuery("#jqgrid").jqGrid('navGrid', "#pjqgrid", {
          edit : false,
          add : false,
          del : true
        });
        jQuery("#jqgrid").jqGrid('inlineNav', "#pjqgrid");
        /* Add tooltips */
        $('.navtable .ui-pg-button').tooltip({
          container : 'body'
        });

        jQuery("#m1").click(function() {
          var s;
          s = jQuery("#jqgrid").jqGrid('getGridParam', 'selarrrow');
          alert(s);
        });
        jQuery("#m1s").click(function() {
          jQuery("#jqgrid").jqGrid('setSelection', "13");
        });

        // remove classes
        $(".ui-jqgrid").removeClass("ui-widget ui-widget-content");
        $(".ui-jqgrid-view").children().removeClass("ui-widget-header ui-state-default");
        $(".ui-jqgrid-labels, .ui-search-toolbar").children().removeClass("ui-state-default ui-th-column ui-th-ltr");
        $(".ui-jqgrid-pager").removeClass("ui-state-default");
        $(".ui-jqgrid").removeClass("ui-widget-content");

        // add classes
        $(".ui-jqgrid-htable").addClass("table table-bordered table-hover");
        $(".ui-jqgrid-btable").addClass("table table-bordered table-striped");

        $(".ui-pg-div").removeClass().addClass("btn btn-sm btn-primary");
        $(".ui-icon.ui-icon-plus").removeClass().addClass("fa fa-plus");
        $(".ui-icon.ui-icon-pencil").removeClass().addClass("fa fa-pencil");
        $(".ui-icon.ui-icon-trash").removeClass().addClass("fa fa-trash-o");
        $(".ui-icon.ui-icon-search").removeClass().addClass("fa fa-search");
        $(".ui-icon.ui-icon-refresh").removeClass().addClass("fa fa-refresh");
        $(".ui-icon.ui-icon-disk").removeClass().addClass("fa fa-save").parent(".btn-primary").removeClass("btn-primary").addClass("btn-success");
        $(".ui-icon.ui-icon-cancel").removeClass().addClass("fa fa-times").parent(".btn-primary").removeClass("btn-primary").addClass("btn-danger");

        $(".ui-icon.ui-icon-seek-prev").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-prev").removeClass().addClass("fa fa-backward");

        $(".ui-icon.ui-icon-seek-first").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-first").removeClass().addClass("fa fa-fast-backward");

        $(".ui-icon.ui-icon-seek-next").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-next").removeClass().addClass("fa fa-forward");

        $(".ui-icon.ui-icon-seek-end").wrap("<div class='btn btn-sm btn-default'></div>");
        $(".ui-icon.ui-icon-seek-end").removeClass().addClass("fa fa-fast-forward");

      })

      $(window).on('resize.jqGrid', function() {
        $("#jqgrid").jqGrid('setGridWidth', $("#content").width());
      })
</script>
{% for e in email_object %}
  <script type="text/javascript">
    $('.frm').attr('action','/admin/mail/{{e.id}}/edit/');
    $('input[name="firstname"]').attr('value',"{{e.firstname}}");
    $('input[name="lastname"]').attr('value',"{{e.lastname}}");
    $('input[name="email"]').attr('value',"{{e.email}}");
    $('#label').html("Update Contact");
  </script>
{% endfor %}
<script type="text/javascript">
  pageSetUp();
  var arr_selected_email=[];
  $('input[name="email"]').change(function(){
    // alert($(this).val());
    if(arr_selected_email.indexOf($(this).val())){
      if($(this).is(':checked')){
        // arr_selected_email.push($(this).val());
      }
      else{
        var index= arr_selected_email.indexOf($(this).val());
        // if(index>=0)
          // arr_selected_email.splice(index,1);
      }
    }
    // console.log(arr_selected_email);
  });
  $('input[name="select_all"]').change(function(){
    if($(this).is(':checked')){
      $('input[name="email"]').prop( "checked", true );
      $("#jqgrid  tr.ui-widget-content").each(function(index,item){
        arr_selected_email.push($('#jqgrid  tr.ui-widget-content:nth-child('+(index+2)+') td:nth-child(4)').html());
      // }
    });
    }
    else{
       $('input[name="email"]').prop( "checked", false );
       arr_selected_email=[];
    }
    console.log(arr_selected_email);  
  });

  function deleteEmail(){
    $(".alert").css('display',"none");
    var help=confirm('Are you sure?');
    if(help==false)
      return false;
    var arr_email_temp=[];
    $('input[name="email"]').each(function(){
      if($(this).is(':checked')){
        arr_email_temp.push($(this).val());
      }
    });
    if(arr_email_temp.length>0){
        $.ajax({
          type: "POST",
          url: '/admin/mail/0/delete_json/',
          data: {'emails':arr_email_temp.join(";")},
          success: function(response) {
            console.log(response);
            if(response.success=='Ok'){
              // alert('ok');
                $(".flash").html('<li>Email deleted successfully.</li>');
                $(".flash").addClass('alert alert-success');
                $(".flash").css('display',"block");
            }
            else{
              // alert('not ok');
                $(".flash").html("<li>Error in deleting emails.</li>");
                $(".flash").addClass('alert  alert-danger');
                $(".flash").css('display',"block");
            }
          }
        });
      $('button.close').click();
      setTimeout(function(){ 
        location.reload();
      }, 1000);
      }
  }

  //save all pop up group (selected)
  $(".btn-save-groups").click(function(){
    var arr_group=[];
    var arr_email=[];
    $('input[name="all_groups"]').each(function(){
      if($(this).is(':checked')){
        arr_group.push($(this).val());
      }
    });
    $('input[name="email"]').each(function(){
      if($(this).is(':checked')){
        arr_email.push($(this).val());
      }

    });
    console.log(arr_group);
    if(arr_group.length>0&&arr_email.length>0){

      $(".alert").css('display',"none");
      $.ajax({
          type: "POST",
          url: '/admin/mail/setgroup/',
          data: {'groups':arr_group.join(";"),'emails':arr_email.join(";")},
          success: function(response) {
            console.log(response);
            if(response.success=='Ok'){
              // alert('ok');
                $(".flash").html('<li>Added successfully.</li>');
                $(".flash").addClass('alert alert-success');
                $(".flash").css('display',"block");
            }
            else{
              // alert('not ok');
                $(".flash").html("<li>Error in adding emails to groups.</li>");
                $(".flash").addClass('alert alert-danger');
                $(".flash").css('display',"block");
            }
          }
        });
      $('button.close').click();
      setTimeout(function(){ 
        location.reload();
      }, 1000);
    }
  });
</script>
{% include 'admin/footer.html' %}