{% include 'admin/header.html' %}
<script type="text/javascript">
  pageSetUp();
  var arr_email=[];
  function addSendTo(){
    $('.select2-choices').html("");
    for(var i=0;i<arr_email.length;i++){
      $('.select2-choices').append('<li class="select2-search-choice"><div>'+arr_email[i]+'</div></li>');
    }
  }
  var group_id;
  function checkGroupToSend(){
    arr_email=[];
    $('input[name="groups"]').each(function(){
      if($(this).is(":checked")){
      //add more email to "send to"
        group_id = $(this).val();
        $.ajax({
          type: "GET",
          url: '/admin/mail/'+group_id+'/group/',
          async: false,
          success: function(response) {
            response = JSON.parse(response);
            for(var i=0;i<response.length;i++){
              if(arr_email.indexOf(response[i].email)<0){
                arr_email.push(response[i].email);
              }
            }
          }
        });
      }
    });
    addSendTo();
  }
</script>
   <!-- MAIN PANEL -->
    <div id="main" role="main">

      <!-- RIBBON -->
      <div id="ribbon">

        <span class="ribbon-button-alignment"> 
          <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
          </span> 
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li>Home</li><li>Compose</li>
        </ol>
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

      </div>
      <!-- END RIBBON -->

      <!-- MAIN CONTENT -->
      <div id="content">

        <div class="inbox-nav-bar no-content-padding">
        
          <h1 class="page-title txt-color-blueDark hidden-tablet"><i class="fa fa-fw fa-inbox"></i> Email &nbsp;
            <span class="btn-group">
              <a href="#" data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><span class="caret single"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/admin/email">Compose</a>
                </li>
                <li>
                  <a href="/admin/config">Configure email</a>
                </li>
                <li>
                  <a href="/admin/email/group">Group</a>
                </li>
                <li>
                  <a href="/admin/mail">Contact</a>
                </li>
                <li>
                  <a href="/admin/import">Import contact</a>
                </li>
                <li>
                  <a href="/admin/email/sending">
                    {%if email_to_send==0 %}
                     No email sending 
                    {%elif email_to_send==1%}
                      {{email_to_send}} sending email ... 
                    {%else%}
                      {{email_to_send}} sending emails ... 
                    {%endif%}
                  </a>
                </li>
              </ul>
            </span>
          </h1>
        
          <div class="btn-group hidden-desktop visible-tablet">
            
        
          </div>
        
          <div class="inbox-checkbox-triggered">
        
            <div class="btn-group">
              
            </div>
        
          </div>
         
        </div>
        
        <div id="inbox-content" class="inbox-body no-content-padding">
        
          <div class="inbox-side-bar">
        
            <a href="/admin/email"  class="btn btn-primary btn-block"> <strong>Compose</strong> </a>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/config/"> Configure email </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/email/group/"> Group </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/mail/"> Contact </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/import/"> Import contact </a>
              </li>
            </ul>
            <ul class="inbox-menu-lg">
              <li class="active">
                <a class="inbox-load" href="/admin/email/sending">
                {%if email_to_send==0 %}
                   No email sending 
                {%elif email_to_send==1%}
                  {{email_to_send}} sending email ... 
                {%else%}
                  {{email_to_send}} sending emails ... 
                {%endif%}
                </a>
              </li>
            </ul>
            <div class="air air-bottom inbox-space">
        
            </div>
        
          </div>
          <!-- LOADING compose box -->
            <div style="height: auto; opacity: 1;" class="table-wrap custom-scroll animated fast fadeInRight">
            <div class="col-xs-6 col-sm-9">
              <h2 class="email-open-header">
                New Email <!-- <span class="label txt-color-white">DRAFT</span> -->

              </h2>
            </div>
            <form action="/admin/email/" method="POST" id="frm" enctype="multipart/form-data" id="email-compose-form">
            <div class="col-xs-6 col-sm-3">
              <button data-loading-text="&lt;i class='fa fa-refresh fa-spin'&gt;&lt;/i&gt; &nbsp; Sending..." class="btn btn-primary btn-send pull-left" type="submit" id="send" style="clear:both;float:none" >
                    Send
                <i class="fa fa-arrow-circle-right fa-lg"></i>
              </button>
            </div>
              {% with messages = get_flashed_messages() %}
                  {% if messages %}
                     {% for message in messages %}
                      <tr id="msg29">
                        <div class="col-md-12 col-xs-12 alert">
                          {{ message }}
                        </div>
                       </tr>
                   {% endfor %}
                  {% endif %}
                 {% endwith %}
            <!--form email write-->
            
              <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
              
              <!--temp textbox-->
                <textarea class="form-control ckeditor" id="description" name="description" style="display:none"></textarea>

                <div class="inbox-info-bar no-padding1">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"><strong><!-- Subject --></strong></label>
                      <div class="" style="margin-top:7px;float:left;">
                        From: 
                      </div>
                      <div class="col-md-5 col-xs-12">
                        <input class="form-control" placeholder="From" type="email" name="send_from" id="send_from" value="{{email}}">
                      </div>
                      <div class="col-md-3 col-xs-12">
                          <input class="form-control" placeholder="Password" type="password" name="password" id="password" value="{{password}}">
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="inbox-info-bar no-padding1">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"><strong><!-- Subject --></strong></label>
                      <div class="col-md-xs-12 col-md-5">
                        <input class="form-control" placeholder="Sender Name" type="text" name="name" id="name" value="{{name}}">
                      </div>
                       <div class="col-md-5 col-xs-12">
                          <input class="form-control" placeholder="Reply to(Optional)" type="email" name="reply_to" id="reply_to">
                      </div>
                    </div>
                  </div>  
                </div>
                <div class="inbox-info-bar no-padding1">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"><strong><!-- Subject --></strong></label>
                      <div class="col-md-xs-11">
                        <input class="form-control" placeholder="Email Subject" type="text" name="subject" id="subject">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="inbox-message no-padding">
                  <div id="emailbody">
                      <br><br><br><br><br>Thanks,<br><strong>Amoogli Team</strong><br><br><small><br> No. 17, St. 604, 12152 Phnom Penh<br><i class="fa fa-phone"> (855) 77 504 106</i></small><br>    
                  </div>  
                </div>
                <div class="inbox-info-bar no-padding">
                  <div class="row">
                    <div class="form-group">
                      <label class="control-label col-md-1"><strong><br/>To</strong></label>
                       <div class="select2-container select2-container-multi " id="s2id_autogen1" style="width: 100%;display:inline;">
                         <ul class="select2-choices" style="display:inline;">  
                            <!--Email here-->
                         </ul>
                       </div>
                    </div>
                  </div>  
                </div>
                
                <div class=" no-padding">
                <br/>
                  Before sending your email, you have to make sure that your email is turned on <a href="https://www.google.com/settings/security/lesssecureapps" target="_blank"> 
                  <b>less secure apps</b> </a> and <a href="https://accounts.google.com/DisplayUnlockCaptcha" target="_blank">Allow access to your Google account</a>.
                </div>
                

            

              </div>
             <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" style="margin-top:15px;">
                <style type="text/css">
                  ul.list-unstyled li{
                    padding: 10px 10px;
                    background-color: #0a6970;
                    margin: 2px 5px;
                    border-radius: 3px;
                    cursor: pointer;
                    color: white;
                    font-weight: bold;
                  }
                </style>
                <div class="well well-sm well-light">
                  <h5><b><center>Select Groups</center></b></h5>
                  <ul class="list-unstyled">
                   {%for group in groups%}
                    <li id="grp_{{group.id}}">
                      <input type="checkbox" name="groups"  id="group_{{group.id}}" value="{{group.id}}"> {{group.name}}
                    </li>
                    <script type="text/javascript">
                    $("#grp_{{group.id}}").click(function(){
                      // alert('set check box');
                      if($(this).add("input#group_{{group.id}}").is(":checked")){
                        //add more email to "send to"
                        $(this).add("input#group_{{group.id}}").prop('checked', false);
                      }
                      else{
                        //remove email from "send to"
                        $(this).add("input#group_{{group.id}}").prop('checked', true);
                      }
                      checkGroupToSend();
;                    });
                    </script>
                    {%endfor%}
                  </ul>
                </div>
              
              </div>
            </form>
      <script type="text/javascript">
        $(".btn-send").click(function(){
          var temp=$("div.note-editable.custom-scroll").html();
          $('textarea[name="description"]').html(temp);
        });
      </script>
            <!--end form email write -->
            <!--end form email write -->
      <script type="text/javascript">
        
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        runAllForms();

         // PAGE RELATED SCRIPTS

        $(".table-wrap [rel=tooltip]").tooltip();



          $('#emailbody').summernote({
              height: 250,
              focus: false,
              tabsize: 2
          });


        $(".show-next").click(function () {
            $this = $(this);
            $this.hide();
            $this.parent().parent().parent().parent().parent().next().removeClass("hidden");
        })

         $("#send").click(function () {

            var $btn = $(this);
            $btn.button('loading');

            // wait for animation to finish and execute send script
            setTimeout(function () {
                //Insert send script here


                // Load inbox once send is complete

            }, 1000); // how long do you want the delay to be? 
        });
        
        
      </script>
      </div>
          <!-- END LOADING COMPOSE box -->
        
         
        
        </div>


      </div>
      <!-- END MAIN CONTENT -->

    </div>
    <!-- END MAIN PANEL -->

    <script src="/statiac/admin/js/plugin/summernote/summernote.min.js"></script>
    <script src="/statiac/adminjs/plugin/delete-table-row/delete-table-row.min.js"></script>
   <script type="text/javascript">
     $("#password").click(function(){
      if($(this).attr('type')=='password')
        $(this).attr('type','text')
      else
        $(this).attr('type','password')
     });
   </script>

{% include 'admin/footer.html' %}